rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function ehAdmin() {
      return request.auth != null &&
        exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /admins/{adminId} {
      // Ninguém escreve aqui pelo app - só você, manualmente, pelo Console do Firebase.
      allow read: if request.auth != null && request.auth.uid == adminId;
      allow write: if false;
    }

    match /usuarios/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow list: if ehAdmin();
    }

    match /transacoes/{transacaoId} {
      allow read, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow list: if ehAdmin();
    }

    match /recorrentes/{recorrenteId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}
